<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <div class="clearfix">
          <h1 class="float-start display-3 me-4">404</h1>
          <h4 class="pt-3">Oups ! Vous n'avez pas accès à cette page.</h4>
          <p class="text-body-secondary float-start">
            La page que vous recherchez est introuvable.
          </p>
        </div>
        
        <div class="text-center mt-4">
          <a href="/home" cButton color="info">Retour à l'accueil</a>
        </div>
      </c-col>
    </c-row>
  </c-container>
</div>
