
.container.role-form-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.full-width {
  width: 100%;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}
