<div class="container role-form-container">
<h2>Modifier le Rôle</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name" class="form-label">Nom du Rôle:</label>
        <input type="text" class="form-control full-width" id="name" formControlName="name">
        <div *ngIf="editForm.get('name')?.invalid && (editForm.get('name')?.dirty || editForm.get('name')?.touched)"
             class="text-danger">
          <div *ngIf="editForm.get('name')?.errors?.['required']">
            Le nom du rôle est obligatoire.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">Permissions:</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Sélectionner des permissions</mat-label>
          <mat-select class="full-width" (selectionChange)="onPermissionsChange($event)" multiple [value]="editForm.get('permissions')?.value">
            <mat-option *ngFor="let permission of allPermissions" [value]="permission">
              {{ permission.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-chip-grid #chipGrid aria-label="Permissions sélectionnées">
          <mat-chip-row *ngFor="let permission of selectedPermissions" (removed)="removePermission(permission)">
            {{ permission.name }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input
            [matChipInputFor]="chipGrid"
            [matChipInputAddOnBlur]="false"
            [matChipInputSeparatorKeyCodes]="[]"
            style="display: none"
          />
        </mat-chip-grid>
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">
          Enregistrer les Modifications
        </button>
        <button type="button" class="btn btn-secondary ms-2" (click)="goBack()">
          Annuler
        </button>
      </div>
    </form>
  </div>
